body {
    background-color:#ffffff;
    overflow-y:scroll;
    font-family: 'Montserrat', sans-serif;
    font-size:16px;
    /* disable text highlight */
    -moz-user-select: none;
    -webkit-user-select: none;
    cursor:default;
}

pre {
    font-size:14px;
}

a {
    color:#000000;
    font-weight:bold;
}

a:hover {
    color:#79ad36;
}

#tabs {
  	text-align: center;
  	margin: auto;
  	padding: 0px;
  	margin-top: 5px;
    margin-bottom:6px;
}

#tabs li {
  	list-style: none;
  	display: inline;
}

#tabs li button {
    color:#282e32;
  	padding:8px 14px 8px 14px;
  	text-decoration:none;
  	font-size:9px;
    font-family: 'Montserrat', sans-serif;
  	font-weight:bold;
  	text-transform:uppercase;
  	border:1px solid #464c54;
}

#tabs li button.active {
  	background-color:#f8f2b1;
  	color:#282e32;
  	border:1px solid #464c54;
}

#tab_candy_box {
    display:block;
}

#tab_candy_box, #tab_quest, #tab_inventory, #tab_cauldron {
    border:2px solid transparent;
}

#tab_quest, #tab_inventory, #tab_cauldron { 
    display:none; 
}  

.clear {
	  clear:both;
}

button {
    background-color:#ffffff;
    border:1px solid #464c54;
    padding:8px 14px;
    cursor:pointer;
    font-family: 'Montserrat', sans-serif;
    font-size:15px;
    margin:4px 0px;
}

button:hover {
    border:2px solid #79ad36;
    padding:7px 13px;
}

button:disabled:hover {
    cursor:default;
    border:1px solid #464c54;
    padding:8px 14px;
}

table {
    border-collapse:collapse;
}

table, th, td {
    border: 1px solid black;
    padding:3px;
}

.tooltip {
    text-decoration:none;
}

.tooltip span {
    display: none;
    white-space: normal; /* To force breaklines in tooltips */
    text-align: left;
}

.tooltip:hover {
    border: 0;
    position: relative;
    z-index: 500;
    text-decoration: none;
}

.tooltip:hover span {
    font-style: normal;
    display: block;
    position: absolute;
    padding: 5px;
    margin: 0px 5px;
    color: #000;
    border: 1px solid #000000;
    background: #ffffff;
    font-family: monospace;
    font-size: 13px;
}

span.tooltip:hover span {
    left: 70px;
    width: 300px;
}

button.tooltip:hover span {
    width: 300px;
}

#tab_quest_left_panel {
    margin-right:15px;
}

div#tab_inventory table {
    width:650px;
}

div#tab_inventory table td {
    padding:2px 2px 2px 16px;
    width:115px;
}

div#tab_inventory table td#sword_cell {
    width:150px !important;
}

div#tab_quest button.potion_quest_button {
    width:160px;
    height:34px;
    text-align:left;
}